<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty is an application built by yours truly, Evan Goldman. The idea for splurty comes from two web developers who created it for folks like myself as part of Columbia University's School of Engineering coding bootcamp. Splurty is just one of the many assignments to get people excited about coding while aquiring the technical skills needed to design and build more applications and websites like Splurty. 
  </p>
  <br />
  <p>
    
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'evan.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Evan Goldman</h2>
      <br />
      <p>
        Evan Goldman is attending the online bootcamp offered by the Columbia University School of Engineering. Her previous work lives include Public Relations, Marketing and Advertising. She also holds two Masters degrees in Education from Teachers College at Columbia University.  
      </p>
    </div>
  </div>
  <br class="clear" />


      
    </div>
  </div>

</div>

<br class="clear" />
<br>
<br>
<br>
<br>